@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="ExportExcel" asp-controller="Home">Export Excel</a>
<a asp-action="Sqlconnectioncontrol" asp-controller="Home">Sql Connection Control</a>

<div class="row">
    <div class="col-5">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <h3>Upload File</h3>
                    <input class="form-control" name="formFile" multiple="multiple" type="file" />
                </div> 
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-primary" type="submit" value="Upload File" />
                </div>
            </div>
        </form>
    </div>
</div>
